x-env-common: &common_env
  USE_DOCKER:
  IPYTHONDIR:
  REDIS_URL:
  CELERY_FLOWER_USER:
  CELERY_FLOWER_PASSWORD:
  POSTGRES_HOST:
  POSTGRES_PORT:
  POSTGRES_DB:
  POSTGRES_USER:
  POSTGRES_PASSWORD:


services:
  docs:
    build:
      context: .
      dockerfile: ./compose/local/docs/Dockerfile
    image: developerapp_local_docs
    container_name: developerapp_local_docs
    environment:
      <<: *common_env
    volumes:
      - /app/.venv
      - ./docs:/docs:z
      - ./config:/app/config:z
      - ./developerapp:/app/developerapp:z
    ports:
      - "9000:9000"
    command: /start-docs
